.container {
  margin: 0 auto;
}

.side-bar {
  width: 120px;
  flex: 0 1 auto;
}

.white-space {
  width: 20px;
  flex: 0 0 auto;
}

.main-content {
  width: 550px;
  flex: 0 0 auto;
}

.main-tweet-container {
  flex: 0 1 auto;
  padding: 10px;
}

.row {
  margin: 0 auto;
}

.user-logo {
  height: 50px;
}

@media (max-width: 990px) {
  .link-label {
    display: none;
  }
}

@media (max-width: 690px) {
  .side-bar {
    display: none;
  }
}
