

.side-bar {
    -ms-flex: 0 0 200px;
    flex: 0 0 230px;
    background-color: greenyellow; 
} 

.main-content {
    -ms-flex: 0 0 560px;
    flex: 0 0 560px;
    background-color: skyblue; 
    padding: 10px;
    margin-left: 20px
}

.row {
    width: 835px;
    margin: 0 auto;
}

.user-logo {
    height: 50px;
}

@media (max-width: 690px) {
  .side-bar {
    display: none; 
  } 
}

/* @media (max-width: 690px) {
    .side-bar {
      display just a logo
    } 
  } */